<div class="container">
  <div>
    <b>Temperature: </b><span>{{ temp }}</span>
    <br />
    <br />
    <b>Time: </b><span>{{ date }}</span>
    <br />
    <br />
    <b>Is Signaling: </b><span>{{ isSignaling ? 'True' : 'False' }}</span>
  </div>
  <br />
  <div>
    <button (click)="startSignal()">Start Signal</button>&nbsp;<button (click)="stopSignal()">Stop Signal</button>
  </div>

  <br /><br />
  <div class="history">
    <table border=1>
      <thead>
        <th>Date</th>
        <th>Temperature</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of history">
          <td>{{ item.Timestamp }}</td>
          <td>{{ item.Temperature }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  .history td {
    padding: 10px;
  }
</style>